
body {
  margin: 0;
}

#container {
  margin: 0 auto;
  text-align: center;
  background: #d0c0b0;
  height: 100vh;
}

.logo {
  object-fit: contain;
  height: calc(100vh - 432px);
}

.clearfix {
  clear: both;
}

.hidden {
  display: none;
}

#user-info {
  clear: both;
  margin:  0  0 20px auto;
  max-width: 400px;
  padding: 10px;
}

#user-banner {
  background: #c0b0a0;
  display:flex;
}

#name {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-weight: bold;
}

#menu {
  height: 24px;
}

#menu i {
  padding: 15px;
}

.softwareversion {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}